<mat-card>

<mat-toolbar color="primary">Lista de funcionários cadastrados</mat-toolbar >

<table mat-table [dataSource]="pessoas" class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let pessoa"> {{ pessoa.nome }} </td>
  </ng-container>


  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let pessoa"> {{pessoa.cpf}} </td>
  </ng-container>


  <ng-container matColumnDef="opcao">
    <th mat-header-cell *matHeaderCellDef> Prato </th>
    <td mat-cell *matCellDef="let pessoa"> {{pessoa.opcao}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</mat-card >
